.filter-field
  width: 400px
  height: 94vh
  padding: 20px
  position: fixed
  top: 20px
  left: 20px
  border-radius: 12px
  background-color: #5c5c5c
  & input
    width: 100%
    height: 40px
    padding-left: 10px
    margin: 5px 0 30px
    border-radius: 6px
    color: #5c5c5c
    font-size: 1.2rem
  & label
    font-size: 1.2rem
